<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.mymusicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/play_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/play_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity  android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity   android:name=".PlayingNowActivity"
            android:label="@string/playing_now"/>
        <activity   android:name=".SearchActivity"
            android:label="@string/search"/>
        <activity   android:name=".BrowseActivity"
            android:label="@string/browse"
            android:configChanges="orientation|screenSize"/>
        <activity   android:name=".DownloadActivity"
            android:label="@string/download"/>
    </application>

</manifest>